.landing-page {
    text-align: center;
    color: #8b7d6b;
    text-transform: uppercase;
    font-weight: 200;
    background-size: 100%;
    padding-top: 20%;
}

#header {
    background-image: url('../img/header-background.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #464646;
    min-height: 100vh;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
  background-color: #fffafa;
}

.intro h2 {
  font-size: 400%;
}

.intro h6 {
  font-size: 120%;
}

.projects-title h1 {
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    font-size: 300%;
    color: #000;
    text-align: center;
    padding-bottom: 1%;
}

.card-img-top {
  width: 100%;
}

.card {
  overflow: hidden;
  box-shadow: 0 12px 15px 0 rgba(0,0,0,0.16), 0 12px 20px 0 rgba(0,0,0,0.12);
  position: relative;
  display: block;
}

.face {
    width: 90px;
    height: auto;
    border-radius: 50%;
    margin: 0 auto;
}
