.landing-page {
    text-align: center;
    font-family: 'Poiret One', sans-serif;
    color: #8b7d6b;
    text-transform: uppercase;
    background-size: 100%;
    padding-top: 20%;
}

#header {
    background-image: url('../img/header-background.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #464646;
    min-height: 100vh;
}

body {
	margin: 0;
	padding: 0;
  font-family: 'Quicksand', sans-serif;
  background-color: #fffafa;
}

.intro h2 {
  font-size: 400%;
}

.intro h6 {
  font-size: 120%;
}

.projects {
  font-family: 'Raleway', sans-serif;
}

.quotes {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  display: none;
}

.projects-title h1 {
    font-weight: 300;
    font-size: 300%;
    color: #000;
    text-align: center;
    padding-bottom: 1%;
}

.card-img-top {
  width: 100%;
}

.card {
  overflow: hidden;
  box-shadow: 0 12px 15px 0 rgba(0,0,0,0.16), 0 12px 20px 0 rgba(0,0,0,0.12);
  position: relative;
  display: block;
}

.face {
    width: 90px;
    height: auto;
    border-radius: 50%;
    margin: 0 auto;
}

.btn-custom {
	background: #609490;
	background-image: none;
	border:none;
  border-radius: 25px;
	color: #fff;
	letter-spacing: 1px;
	font-weight: 600;
	text-decoration: none ! important;
	text-shadow: none;
	transition: all 0.3s ease-in-out 0s;
	-webkit-transition: all 0.3s ease-in-out 0s;
}
.btn-custom:hover {
	background: #192D2B;
	color: #609490;
}

.grower {
  width: 180px;
  transition: all 0.3s ease-in-out 0s;
}

.grower:hover {
  width: 200px;
}

.grower-sm {
  width: 120px;
  transition: all 0.3s ease-in-out 0s;
}

.grower-sm:hover {
  width: 130px;
}

.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}

.btn-custom.btn-outline {
    color: #609490;
}

#getInTouch {
  font-family: 'Quicksand', sans-serif;
  font-weight: lighter;
}

.fa {
  color: #609490;
  transition: all 0.3s ease-in-out 0s;
}

.fa:hover {
  color: #324d4b;
}

.center {
  text-align: center;
}
